@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #FFF;
  --text-color: black;
  --surface-color: #E4E6E6;
  --accent-color: #93C5fD;
  --scrollbar-color: #D2D2D2;
}

html.dark {
  --bg-color: #121212;
  --text-color: white;
  --surface-color: #262626;
  --accent-color: #004C98;
  --scrollbar-color: #484848;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#article-details {
  --drawer-height: 320px;
}

@screen tablet {
  #article-details {
    --drawer-height: 160px;
  }
}


/***************************
******** Scrollbar *********
***************************/

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-color);
}

::-webkit-scrollbar-thumb {
  background: var(--surface-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--bg-color);
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--surface-color) var(--scrollbar-color);
}
